---
Language: Cpp
BasedOnStyle: Microsoft
Standard: Latest

IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 240

BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyNamespace: false
  SplitEmptyRecord: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 4
AlignAfterOpenBracket: BlockIndent
NamespaceIndentation: All
FixNamespaceComments: false
SpaceBeforeCpp11BracedList: true

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Pointer

IncludeBlocks: Preserve
SortIncludes: CaseSensitive
ReflowComments: false
...
