[submodule "lib/commonlibsf"]
	path = lib/commonlibsf
	url = https://github.com/ozooma10/commonlibsf.git
[submodule "lib/osf-settings"]
	path = lib/osf-settings
	url = https://github.com/ozooma10/osf-settings.git
